auth
aws_cred_secrets.yml
longhorn.yaml
kubeconfig
.idea
k3s.yaml
k3s_cluster2.yaml
export.sh

.terraform
*.hcl
*.tfstate
*.backup
*.info

*.log
*.txt

kube_config_rke.yml
*.rkestate
rke.yml
rke_cluster.yaml
rke_cluster2.yaml
rke2.yaml
rke2_cluster2.yaml

*.tgz